

  #form  {
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:nowrap;
  }

  #form article {
    box-shadow: 2px 2px 20px #ec99cd;
    display: flex;
    width: 70%;
    height: auto;
  }


  #form article div {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 30px 0;
    padding-left: 50px;
  }



  #form form div input {
    width: 80%;
    height: 60px;
    line-height: 50px;
    border-radius: 20px;
    font-size: 1.3em;
  }
  #form form div input::placeholder {
    padding-left: 10px;
  }

  #form form div button {

    background-color: #2980b9;
    width: 40%;
    height: 50px;
    color: #ecf0f1;
    font-size: 1.3em;
  }

  #form form div label {
    padding-bottom: 20px;
    padding-left: 20px;
    min-width: 150px;
  }

  #form form div select {
    padding-bottom: 20px;
    padding-left: 20px;
    min-width: 150px;
  }
  #choix{
    padding-bottom: 20px;
    padding-left: 20px;
    min-width: 150px;
  }


  
  #form form div h4 {
    padding-left: 50%;
    text-align: center;
    font-size: large;
    color: aquamarine;
}