body{
    background-color: #666666;
}
header {
    color: aliceblue;
    background-color:black;
}
a {
    text-decoration: none;
}
header h1 {
    text-align: center;
}

  
header nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background:grey;
}

header nav ul li {
      display: flex;
      width: 25%;
      align-items: center;
      justify-content: space-around;
      font-size: 1.2em;
    
      
}

header nav ul li a img {
    width: 100%;
    

}

header nav ul li a img {
    width: 100%;
    display: block;
    padding:20px 20px 20px 20px;
    background-color: grey;

}
header nav ul li:hover {
    background: #666666;
    color: white;
  }

#lacarte  {
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:nowrap;

}
#lacarte article  {
    box-shadow: 2px 2px 20px #ec99cd;
    display: flex;
}

#lacarte article figure img{
    width: 100%;
   
}
#lacarte article figure figcaption {

    text-align: left;
    font-size: large;
  }

#lacarte article figure figcaption p {
color: black;
  }

