header {
    color: aliceblue;
    background-color:black;
}
header h1 {
    text-align: center;
}

  
header nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background:grey;
}

header nav ul li {
      display: flex;
      width: 25%;
      align-items: center;
      justify-content: space-around;
      font-size: 1.2em;
    
      
}

header nav ul li a img {
    width: 70%;
    display: block;

}
