header h1 {
    text-align: center;
    background-color: darkslategrey;
    color: red;
}


nav li {
    width: 30%;
    text-align: left;
    background-color:grey;
}
#article article {
    text-align: center;
    display: inline-block;
    width: 33%;
    text-align: center;
    background-color: grey;
    width: 90%;
    margin: 10px;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


#photos article figure img{
  width: 33%;

}

#photos article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

#photos article figure  {
    display: flex;
    flex-wrap: nowrap;

  
  }
#form {
    background-color: black;
}
#form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    
}
#form form div input {
    width: 79%;
    height: 50px;
    line-height: 50px;
    font-size: 1em;
  }
  #form form div label {
    text-align: left;
    padding-left: 20px;
    color: aliceblue;
  }

  #form form div button {
    background-color: #2980b9;
    width: 30%;
    height: 50px;
    font-size: 1em;
  }